.rental {
	padding: 75px 0 0;
	text-align: center;
	background: #f6f6f6;
	
	h3 {
		text-transform: uppercase;
		line-height: 1.2;
		margin: 5px 0;
	}

	.subtitle {
		font-size: 24px;
		line-height: 1.2;
		color: #0e0e0e;
		margin: 5px 0;
	}

	.rental-holder {
		margin-top: 70px;
	}

	.box {
		padding: 35px 0;
		border: 1px solid #b7b7b7;
		width: 29%;
		min-width: 300px;
		display: inline-block;
		vertical-align: top;
		margin: 0 2% 50px;
		position: relative;

		span {
			font-size: 40px;
			text-align: center;
			line-height: 49px;
			position: absolute;
			color: #d15422;
			top: 0;
			left: 50%;
			@include transform(translate(-50%, -50%));
			width: 55px;
			height: 55px;
			border: 3px solid #d15422;
			border-radius: 100%;
			background: #f6f6f6;
		}

		p {
			margin: 0;
			font-size: 16px;
		}
	}
}

@media (max-width: 767px) {
	.rental {
		padding: 30px 0 0;
		h3 {
			font-size: 19px;
			line-height: 1.2;
		}

		.subtitle {
			font-size: 16px;
		}

		.rental-holder {
			margin-top: 50px;
		}

		.box {
			padding: 30px 3%;
			margin: 0 2% 30px;
			min-width: 270px;

			p {
				font-size: 14px;
			}

			span {
				font-size: 30px;
				line-height: 38px;
				width: 45px;
				height: 45px;
			}
		}
	}
}

.advretise {
	padding: 20px 0;
	text-align: center;

	h3 {
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.subtitle {
		font-size: 18px;
	}

	.adverise-holder {
		width: 100%;
		max-width: 750px;
		margin: 0 auto;
	}

	img {
		margin: 0 2% 50px;
	}
}

@media (max-width: 767px) {
	.advretise {
		h3 {
			font-size: 19px;
			line-height: 1.2;
		}

		img {
			margin-bottom: 20px;
		}
	}
}

.form {
	padding: 30px 0;
	text-align: center;
	background: #f6f6f6;
	position: relative;

	p {
		margin: 6px 0 12px;

		&:last-of-type {
			margin-bottom: 0;
			margin-top: 15px;
		}
	}

	.form-holder {
		width: 100%;
		max-width: 940px;
		margin: 0 auto;
		text-align: left;
	}

	.calendar-holder {
		margin-bottom: 10px;
	}

	.box {
		background: #fff;
		padding: 25px;
		border-radius: 5px;
		margin-right: 2%;
		width: 49%;
		float: left;

		&.box-second {
			margin-right: 0;
		}
	}

	.col-xs-6 {
		padding: 0;
		width: 49%;
		margin: 0 0 5px;

		&:nth-of-type(odd) {
			margin-right: 2%;
		}
	}

	label {
		font-size: 14px;
		font-weight: 600;
		color: #707070;
		line-height: 1;
		display: block;
		margin: 0;

		span.star {
			font-size: 18px;
			color: #ff0303;
		}
	}

	input, select, textarea {
		width: 100%;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		background: #f6f6f6;
		padding: 10px;
		font-size: 12px;
		font-weight: 300;
		height: 47px;
		color: #000;
		@include transition(0.3s);

		&.wpcf7-not-valid {
		    border: 1px solid red;
		}
	}

	input:focus, textarea:focus, select:focus {
    	outline: none;
	}

	:focus {
	    outline: none;
	    border-color: #444;
	}

	textarea {
		height: 322px;;
	}

	::-webkit-input-placeholder {
	  color: #b0b0b0;
	}
	::-moz-placeholder {
	  color: #b0b0b0;
	}
	:-ms-input-placeholder {
	  color: #b0b0b0;
	}
	:-moz-placeholder {
	  color: #b0b0b0;
	}

	.jcf-select {
		min-width: 100%;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		background: #f6f6f6;
		padding: 10px;
		font-size: 12px;
		font-weight: 300;
		color: #000;
		height: 47px;
		background: #f6f6f6;

		.jcf-select-opener {
			width: 40px;
		    background: transparent;
		    border-left: 1px solid #e1e1e1;

			&:before {
				content:'\e908';
				position: absolute;
				font-size: 20px;
				font-family: 'icomoon';
				color: #181919;
				@include absolute-center(-50%, -50%);
			}
		}
	}

	.jcf-number {
		height: 47px;
		width: 100%;
	}

	.jcf-radio {
		width: 17px;
		height: 17px;
		border: 2px solid #dadada;
	}

	.wpcf7-list-item-label {
		vertical-align: middle;
	}

	.wpcf7-list-item.first {
		margin-left: 0;
	}

	.jcf-number .jcf-btn-dec:before, .jcf-number .jcf-btn-inc:before {
		font-family: 'icomoon';
		font-size: 20px;
		color: #181919;
		@include absolute-center(-50%, -50%);
		border: none;
		width: initial;
		height: initial;
		margin: 0;
	}

	.jcf-btn-inc {
		border-left: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		background-color: transparent;
		width: 40px;
		height: 50%;

		&:before {
			content: '\e906';
		}
	}

	.jcf-btn-dec {
		border-left: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		background-color: transparent;
		width: 40px;
		height: 50%;

		&:before {
			content: '\e908';
		}
	}

	.calendar-box {
		width: 100%;
		// margin-right: 2%;
		float: left;

		&:last-of-type {
			margin-right: 0;
			display: none;
		}
	}

	.calendar-holder.calendar-small {
		.calendar-box{
			width: 48%;

			&:first-of-type {
				margin-right: 2%;
			}

			&:last-of-type {
				display: block;
			}
		}
	}

	input[type="date"] {
		padding-right: 41px;

		&:before {
			content: '\e907';
			font-family: 'icomoon';
			font-size: 28px;
			color: #181919;
			position: absolute;
			@include transform-y;
			right: 0px;
		    padding: 2px 8px;
		    border-left: 1px solid #e1e1e1;
		}
	}

	.wpcf7-form-control-wrap.datefrom, .wpcf7-form-control-wrap.dateto {
		display: block;
		height: 47px;

		&:before {
			content: '\e907';
			font-family: 'icomoon';
			font-size: 28px;
			color: #181919;
			position: absolute;
			@include transform-y;
			right: 0px;
		    padding: 2px 8px;
		    border-left: 1px solid #e1e1e1;
		}
	}

	.jcf-file {
	    white-space: nowrap;
	    width: 100%;
	    background: #7d7d7d;
	    border-radius: 5px;
	    padding: 30px 0;
    	text-align: center;

	    .jcf-fake-input {
	    	font-size: 12px;
	    	line-height: 1;
		    text-overflow: ellipsis;
		    font-size: 13px;
		    width: 80%;
		    padding: 0 8px;
		    display: block;
		    margin: 0 auto;
		    color: #fff;
		    border: none;
		}

		.jcf-upload-button {
			background: #fff;
			padding: 0 25px;
    		border-radius: 4px;

			span {
				font-size: 12px;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}

	.wpcf7-submit {
		background: #b1161a;
		text-transform: uppercase;
		color: #fff;
		font-weight: 400;
		border: 2px solid  #b1161a !important;
		@include transition(0.3s);

		&:hover {
			background: #fff;
			color: #b1161a;
		}
	}

	.wpcf7-not-valid-tip {
		font-size: 12px;
		line-height: 1.2;
	}

	.wpcf7-validation-errors,
	.wpcf7-mail-sent-ng,
	.wpcf7-mail-sent-ok {
	    border: none;
	    color: #b1161a;
	    font-size: 12px;
	    bottom: 0;
	    @include transform-x;
	}
}

@media (max-width: 767px) {
	.form {
		.wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
			width: 95%;
			padding: 0 32px;
			margin: 0 auto;
			text-align: center;
		}
		
		.box {
			width: 100%;
			max-width: 400px;
			margin: 0 auto 15px;
			float: none;

			&.box-second {
				margin-right: auto;
			}
		}

		.calendar-box {
			float: none;
			width: 100%;
			margin: 5px auto;
		}
	}

	textarea {
		height: 150px;
	}
}

@media (max-width: 767px) {
	.form-page {
		@include direction-parent();
	}

	.form {
		@include direction-child(1);
	}

	.rental {
		@include direction-child(3);
	}

	.advretise {
		@include direction-child(2);
	}
}